body {
	transition: color .5s;
	color: #333;
}

.flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.generate-margin-top(50);

.generate-margin-top(@end, @index: 1) when (@index =< @end) {
  .margin-top-@{index} {
    margin-top: (@index * 1px);
  }
  .generate-margin-top(@end, (@index + 1));
}